#Teams {
  position: relative;
  scroll-margin-top: 40px;
  background: rgba($secondary-light, .1);
  .section__body {
    position: relative;
    align-items: center;
    gap: 1.5rem;
    z-index: 2;
  }
  .teams__card {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $secondary-color;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 35px -5px rgba($primary-color, .2);
  
  &:hover{
    border: 1px solid $primary-color;
  }
  &--name{
    text-align:center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color:$primary-color;
    padding: 2rem 0;
  }
  &--icon{
    img{
      height:200px;
    }
  }
  }
}