#videos{
    background: white;
    .section__title{
        color:$secondary-color;
        font-size: clamp(1.2rem, 3vw, 3rem);
        letter-spacing:5px;
        text-transform:uppercase;
    }
.videos__content {
    
    &--video{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;
        margin:1rem;
        color:$secondary-color;
        &:hover{
            transform: scale(1.1);
            transition: all .2s ease-in-out;
        }
        img{
            width:85%;
            border-radius: 2rem;
            @media screen and (max-width: 991px) {
                width:70%;
            }
        }
    }
}}