#hof {
  color:white;
  padding: 100px 50px;
  max-width: 1200px;
  margin: 80px auto;
  @media screen and (max-width:840px){
    padding: 100px 0;
  }
}
.hof{
  &__over{
  padding: 30px;
  background-color: #272734;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    h1{
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: clamp(1.8rem, 3vw, 3rem);
      margin-bottom: 20px;
      color: #f2cd00;
      text-align: center;
    }
  }
&__content{
  hr{
    border:1px solid $primary-dark;
    width:80%;
    margin: 1rem auto;
    border-radius:100%;
  }
.bg{
  background-color: rgba($secondary-light, .3);
}
  &--accordion {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    &.expanded{
      max-height:2000px;
      transition: max-height 0.2s ease-in;
    }
  }
    &--title{
      display:flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      text-align: center;
      h2{
        font-weight:500;
        letter-spacing: 3px;
        color:$white-color;
        font-size: clamp(1rem, 3vw, 2.3rem);
        width:95%;
      }
      cursor:pointer;
      .iconify{
        color:$primary-color;
        transform:scale(1.5);
        transition: ease-in .2s;
      }
      .expanded{
        .iconify{
          transform:rotate(180deg) scale(1.5);
          transition: ease-out .2s;
        }
      }
    } 
    &--season{
      padding:1rem 0;
      border-bottom:1px solid $primary-color;
      border-left: 1px solid $primary-color;
      border-right: 1px solid $primary-color;
      p{
        color:$primary-dark;
        font-size: clamp(1rem, 2vw, 2rem);
      }
      &:first-child{
        border-top:1px solid $primary-color;
        border-radius: 1rem 1rem 0 0;
      }
      &:last-child{
        border-radius: 0 0 1rem 1rem;
      }
      &:hover{
        background-color: rgba($secondary-light, .3);
        h2{
          transform:scale(1.05);
        }
      }
      h3{
        margin:1rem 0;
        text-align:center;
      }
      .rola{
        width:40px;
      }
    }
    &--teamName{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
          width:300px;
        }
        @media screen and (max-width: 992px) {
            margin:1rem 0;
          }
    }
    &--winners{
        display:grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items:center;
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &--Player{
        display:flex;
        align-items: center;
        font-size:2rem;
        gap:.5rem;

    }
    &--mentions{
      h4{
        text-align:center;
        margin: 1rem 0;
      }
      p{
        text-align:center;
      };
    }
    &--tots{
      font-size:2rem;
      margin:auto;
      &Players{
        width:fit-content;
        margin:auto;
      }
      &Player{
        display:grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
      }
    }
}}