#Team {
  padding:0;
  padding-top:100px;
  position: relative;
  scroll-margin-top: 40px;
  background: rgba($secondary-light, .1);
  .section__body {
    position: relative;
    align-items: center;
    gap: 1.5rem;
    z-index: 2;
  }
  
  .teams__card {
    width: 100%;
    height:300px;
    transition: all .2s ease-in-out;
    background-color: rgba($secondary-light, .2);
    color:$primary-color;
    cursor:pointer;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $primary-dark;
    border-radius: 1rem;
    box-shadow: 0 0 35px -7px rgba($primary-color, .2);
    .hidden {
      display:none;
    }
  
  &:hover{
    border: 1px solid $primary-color;
    box-shadow: 0 5px 30px -5px $primary-color;
  }
  &--name{
    text-align:center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color:$primary-color;
    padding: 2rem 0;
  }
  &--icon{
    img{
      height:200px;
    }
  }
  &--back{
    flex: 1;
    padding:1.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    gap:1rem;
    font-size:1.5rem;
  }
  &--front{
    flex:1;
  }
  &--top{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    img{
      height: 1.5rem;
    }
  }
  &--lane{
    display:grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    img{
      margin:auto;
      height:20px;
    }
    p{
      text-align:center;
      grid-column: span 2;
    }
  }
  }
}
