#wspolpraca{
    color: white;
    padding: 60px 20px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: -60px;
    h1{ 
        text-align:center;
        font-size:clamp(2rem, 3vw, 4.8rem);
        font-weight: 700;
        margin-bottom: 20px;
        color: #f2cd00;
        letter-spacing: 5px;
    }
    .wspolpraca__box{
        font-size:clamp(1rem, 2vw, 1.5rem);
        display:flex;
        flex-direction: column;
        &--item{
            text-align:center;
            color:$white-color;
            font-size:clamp(1rem, 3vw, 1.2rem);
            max-width: 1500px;
            padding: 20px;
            margin: 0 auto;
            font-weight: 500;
            text-shadow: #000 0px 0px 10px;
            line-height: 1.8;
        }
    }
}
#stanowiska{
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    .section__body{
        display:block;
    }
    .carousel {
        background-color: #272734;
        margin: 0; /* Usuwamy marginesy */
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        color: white;
        max-width: 100%;
        min-height:400px;
        --vc-pgn-active-color:#f2cd00;
        --vc-pgn-background-color:#1b1b24;
        &__icon{
            color:$primary-color;
        }
        &__slide{
            display:flex;
            flex-direction: column;
            &--job{
                text-align:left;
                font-size: 2rem;
                color: #f2cd00;
                margin-bottom: 20px;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-bottom: 2px solid #f2cd00;
                width:100%;
                padding-bottom: 10px;
                letter-spacing: 5px;
            }
            &--description{
                text-align:left;
                font-size:clamp(1rem, 3vw, 1.1rem);
                line-height: 1.6;
                margin:0 1rem;
                letter-spacing: 1px;}
    }
    }
    
}