.footer {
  border-top:1px solid $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  margin-top:1rem;
  backdrop-filter: blur(3px);
  overflow: hidden;
  &__body {
    text-align: center;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1;
    & a {
      font-weight: 600;
      color: $primary-dark;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    transition: .3s all ease;
    &--title {
      font-weight: 600;
      text-wrap: pretty;
      text-align: center;
      margin-bottom: 2rem;
      color: $primary-dark;
    }
    &--buttons {
      justify-content: center;
      display: flex;
      flex-direction: row;
      gap: 4vw;
      span{
        color:$primary-dark;
        transition: all .3s ease-in-out;
        scale:1.5;
        &:hover{
          color:$primary-color;
          transform: scale(1.5);
        }
      }
      @media screen and (min-width: 992px) {
        width: 40%;
        flex-direction: row;
      }
    }
  }
}